body {background-color: powderblue;}
h1   {color: green; text-align:center; font-family:courier;}
h2   {color: green; text-align:center; font-family:courier;}
p    {color: red; text-align:center; font-family:courier;}